body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

img{
  width: 100%;
  height: auto;
}

.calculadora{
  background-color: black;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 320px;
}

#display{
  background-color: #222;
  color: #ffff;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  min-height: 50px;
  text-align: right;
  word-wrap: break-word; /* Permite que o texto quebre para a próxima linha se for muito longo*/
}

.botoes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.botao{
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 24px;
  cursor: pointer;
}

.cinza-escuro{
  background-color: #333;
  color: #fff;
}

.laranja{
  background-color: #f39c12;
  color: #fff;
}

.cinza_claro{
  background-color: #d3d3d3;
  color: #000;
}

.zero{
  grid-column: span 2;
  border-radius: 50px;
}